@model CreateManagementCertificateCommand

@{
	Layout = "AddAzureSubscriptionPanelLayout.cshtml";
}

@section paneltitle {
	Add Azure Subscription <small>Step 1/4 - Create management certificate</small>
}

<p>
	To get started, you first need to create a management certificate to connect to Azure REST APIs. The following steps take you through that process. Please start by entering a name for the certificate.
</p>

<form class="" method="post" action="@Url.RouteUrl("add-azure-subscription-step-1", new { sessionId = Model.SessionId })">
	@Html.AntiForgeryToken()
	<div class="form-group @Html.GetValidationClass("certificatename")">
		<label class="control-label" for="certificatename">Certificate name</label>
		@if(Html.HasValidationErrors("certificatename")) {
			<span class="help-block">@Html.ValidationMessageFor(_ => _.CertificateName)</span>
		}
		<input type="text" value="@Model.CertificateName" name="CertificateName" class="form-control" id="certificatename" placeholder="Your certificate name" />
		<span class="help-block">Can be anything, used only for display purposes</span>
	</div>
	<button type="submit" class="btn btn-primary">Continue</button>
</form>
