@{
	Layout = "~/MVC/Views/Layout.cshtml";
}

@section stylesheets{
	@Styles.Render("~/content/dashboard")	
}

@functions {
	string FormatNavigationLink(string routeName, string title) {
		var route = RouteTable.Routes[routeName];

		var routeUrl = @Url.RouteUrl(routeName);

		if(ViewContext.RouteData.Route.Equals(route)) {
			return string.Format(@"<li class=""active""><a href=""{0}"">{1} <span class=""sr-only"">(current)</span></a></li>", routeUrl,title);
		} 

		return string.Format(@"<li><a href=""{0}"">{1}</a></li>", routeUrl,title);
		
	}
}

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">WadGraphEs Azure Dashboard</a>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				@Html.Raw(FormatNavigationLink("home", "Overview"))
				<li><a href="#">Logs</a></li>
			</ul>
			<ul class="nav nav-sidebar">
				@Html.Raw(FormatNavigationLink("test-api", "Test API"))
				@Html.Raw(FormatNavigationLink("api-settings", "API Settings"))
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="@Url.RouteUrl("logout")">Sign out</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			@RenderBody()
		</div>
	</div>
</div>
