@{
	Layout = "~/MVC/Views/Layout.cshtml";
}

@section stylesheets{
	@Styles.Render("~/content/home")
	@RenderSection("stylesheets", required:false)
}

@functions {
	MvcHtmlString FormatNavigationLink(string routeName, string title) {
		var route = RouteTable.Routes[routeName];

		var routeUrl = @Url.RouteUrl(routeName);

		if(ViewContext.RouteData.Route.Equals(route)) {
			return new MvcHtmlString(string.Format(@"<li class=""active""><a href=""{0}"">{1} <span class=""sr-only"">(current)</span></a></li>",routeUrl,title));
		} 

		return new MvcHtmlString(string.Format(@"<li><a href=""{0}"">{1}</a></li>", routeUrl,title));
		
	}
}

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Azure Dashboard</a>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				@FormatNavigationLink("home", "Overview")
				@FormatNavigationLink("dashboard","Dashboard")
				@FormatNavigationLink("logs","Application Logs")
			</ul>
			<ul class="nav nav-sidebar">
				@FormatNavigationLink("test-api", "Test API")
				@FormatNavigationLink("api-settings", "API Settings")
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="@Url.RouteUrl("logout")">Sign out</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			@RenderBody()
		</div>
	</div>
</div>

@section scripts {
	@RenderSection("scripts", required:false)
}