@model ICollection<WadGraphEs.MetricsEndpoint.Logging.LogMessage>

@{
	Layout = "HomeLayout.cshtml";
}


<h1 class="page-header">Application Logs</h1>
<table class="table table-condensed">
<thead>
	<tr>
		<th>Time</th>
		<th>Level</th>
		<th>Source</th>
		<th>Message</th>
	</tr>
</thead>
<tbody>
	
		@foreach(var message in Model) {
			<tr class="@Html.GetLogLevelClass(message.Level)">
				<td>@message.Timestamp</td>
				<td>@message.Level.Name.ToUpper()</td>
				<td>@message.Source</td>
				<td><pre>@message.Message</pre></td>
			</tr>
		}
</tbody>
</table>
